/* Normalize Css */
html,
body {
    padding: 0;
    margin: 0;
    background-color: black;
    font-family: Helvetica, Arial, sans-serif;
}

/* Container Css */
.container {
    width: 100%;
    max-width: 1242px;
    margin: 0 auto;

}

/* Header Css */
#header {
    /* background-color: grey; */
}

.header-cont {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left-cont,
.right-cont {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-brand {
    max-width: 110px;
}

.main-nav {
    list-style: none;
    display: inline-flex;
    flex-direction: row;
}

.nav-item {
    /* color: white; */
    margin-right: 20px;
    color: #e5e5e5;
    opacity: 0.83;
    font-weight: 500;
}

.nav-item.active {
    color: white;
    opacity: 1;
}

.right-cont svg {
    color: white;
    cursor: pointer;
}

.right-cont img {
    max-width: 36px;
    cursor: pointer;

}

.right-cont svg,
.right-cont img {
    margin-right: 22px;
    cursor: pointer;

}

/* Movies Section CSS */
.movies-section {}

.explore-nudge {
    color: #54b9c5;
    font-size: 12px;
    display: none;
}

.movie-section-heading:hover .explore-nudge {
    display: inline-block;
}

.movie-section-heading {
    color: white;
    font-synthesis: 20px;
    font-weight: 700;
    line-height: 1.2;
    cursor: pointer;
    margin-bottom: 10px;
}

.movie-item {
    width: 245px;
    object-fit: contain;
    border-radius: 4px;
    margin-right: 6px;
}
.movie-item:hover {
    transform: scale(1.3);
    transition: transform linear 300ms;
    cursor: pointer;
}


.movie-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}



/* Responsive Css */
@media (max-width:767px) {
    .main-nav {
        display: none;
    }
}